<div id="player-container">
  <div id="youtube-player"></div>
  <div id="controls">
    <button (click)="togglePlayback()">{{ isPlaying ? 'Pausar' : 'Reproducir' }}</button>

  <!---
    <ul>
      <li *ngFor="let marker of markers">
        <a (click)="jumpToTime(marker.time)">{{ marker.label }}</a>
      </li>
    </ul>-->
    <div id="timeline">
      <div class="progress-bar">

        <div class="progress"></div>
        <div class="markers" ></div>

      </div>
      <div id="time-display">{{currentTime}}</div>
    </div>
  </div>
</div>


<div *ngIf="expression">
{{this.markerSelect|json}}
</div>
